{% extends "poll/base.html" %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}

{% block styles %}
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block content-detailed %}
<form id="question_form" action="" method="post">
	<h2>Question</h2>
	{% csrf_token %}
	{{ form.content_markdown|as_crispy_field }}	
	{{ form.tags|as_crispy_field }}	
	
	{{ question_choice_formset.management_form }}
	<h2>Choices</h2>
	<table class="table table-striped">
        <tbody>
		    {% for form in question_choice_formset.forms %}
			<tr>
				<td>								
					{{ form.content_markdown }}
				</td>
				<td>{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
    <button class="btn btn-primary btn-lg" type="submit">Submit</button>
</form>
{% endblock %}

{% block sidebar %}{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}jquery.formset-1.2/src/jquery.formset.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
	$('#question_form tbody tr').formset({
		addText: 'Add',
		addCssClass: 'btn btn-success',
		deleteText: 'Remove',
		// deleteCssClass: 'btn btn-default btn-sm',
		prefix: '{{ question_choice_formset.prefix }}'
	});
});
</script>
{% endblock %}