{% extends "poll/base.html" %}
{% load poll_tags %} 

{% load bootstrap3 %}
{% load googlecharts %}

{% block content-detailed %}
<h4>Revision History</h4>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Timestamp</th>
			<th>Diff Patch</th>
			<th>Result</th>
		</tr>
	</thead>
	<tbody>
		{% for diff in diffs %}
		<tr>
			<td>
			{{ diff.primary.1.revision.date_created|date:"DATETIME_FORMAT" }}	
			</td>
			<td>
				{{ diff.primary.0|safe }}
				<ol>
				{% for related_diff in diff.related %}
					<li>{{ related_diff.0|safe}}</li>
				{% endfor %}
				</ol>
			</td>
            <td>
				{{ diff.primary.1.field_dict.content_markup|safe }}
				<ol>
				{% for related_diff in diff.related %}
					<li>{{ related_diff.1.field_dict.content_markup|safe}}</li>
				{% endfor %}
				</ol>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}