{% extends "poll/base.html" %}
{% load voting_tags %} 
{% load poll_tags %} 

{% block content-detailed %}
<div class="panel-group" id="accordion">
{% for question in questions %}
	{% if user|has_voted:question %}
		{% include "includes/result.html" %}
	{% else %}
		{% include "includes/detail.html" %}
	{% endif %}
	<hr/>
{% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if questions.has_previous %}
            <a href="?page={{ questions.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
        </span>

        {% if questions.has_next %}
            <a href="?page={{ questions.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
