container_commands:
  01_syncdb:    
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02_createadmin:
    command: "scripts/createadmin.py"
    leader_only: true
  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  04_migrate_poll:
    command: "python manage.py migrate poll --noinput"
    leader_only: true
  05_uninstall:
    command: "pip uninstall django-taggit"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: pollstagram/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: pollstagram.settings.staging
  - option_name: AWS_SECRET_KEY
    value: RLKVJZ4Af7sjQJJTOFTLz2T59wzZT2RbQYypaHPv
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAJB5GCFXJO2TSTZKA
  - option_name: AWS_STORAGE_BUCKET_NAME
    value: elasticbeanstalk-ap-southeast-2-866411130776
