{% load crispy_forms_tags %}

<!-- Static navbar -->
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Pollstagram</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list"></span> Options <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
      <li><a href="#"><span class="glyphicon glyphicon-info-sign"></span> About</a></a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
		{% if user.is_authenticated %}
		<li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-user"></span> {{ user.username }} <b class="caret"></b></a>
	        <ul class="dropdown-menu">
                  <li><a href="{% url 'user_detail' user.username %}"><span class="glyphicon glyphicon-info-sign"></span> View Profile</a></li>
	          <li><a href="{% url 'user_edit' user.username %}"><span class="glyphicon glyphicon-edit"></span> Edit Profile</a></li>
              <li><a href="{% url 'auth_password_change' %}" target="_blank"><span class="glyphicon glyphicon-lock"></span> Change password</a></li>
	          <li class="divider"></li>
              <li><a href="{% url 'auth_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	        </ul>
		</li>
		{% else %}
		<li>
			<a href="{% url 'auth_login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
		</li>
		{% endif %}
    </ul>
	{% if search_form %}
	<form class="navbar-form navbar-right" role="search">
	 <div class="form-group">
		{{ search_form.keyword }}
	    <!--<input type="text" class="form-control" placeholder="Search" name="keyword"> -->
	 </div>
	 <button type="submit" class="btn btn-default" name="search" value="search">Submit</button>
	</form>
	{% endif %}
  </div><!--/.nav-collapse -->
</div>

<div class="row">
	<div class="col-lg-9">	
	<ul class="nav nav-pills">
	  <li><a href="{% url 'polls_index' %}">Questions</a></li>
	  <li><a href="{% url 'tags_index' %}">Tags</a></li>
	  <li><a href="#">Users</a></li>
	</ul>
	</div>
	<div class="col-lg-3">
		<div class="pull-right">
		    <div class="btn-group">
        	        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Sort By
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="?sortby=newest">Newest</a></li>
                        <li><a href="?sortby=mostvoted">Most voted</a></li>
                        <li><a href="?sortby=choisediff">Choise difference</a></li>
                        <li><a href="?sortby=5050question">50-50 question</a></li>
                    </ul>
            </div>
			<a href="{% url 'poll_create' %}" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-question-sign"></span> Ask a Question</a>
		</div>
	</div>

</div>
<hr/>	
