{% extends "base.html" %}

{% block content %}
<div class="container">
<p class="lead">A tag is a keyword or label that categorizes your question with other, similar questions. Using the right tags makes it easier for others to find and answer your question.</p>

<ul class="list-group">
	{% for tag in tags %}
	<a href="{% url 'tags_questions' tag.name %}" class="list-group-item">
		<span class="badge">{{ tag.taggit_taggeditem_items.count }}</span>
		{{ tag }}
	</a>
	<!-- <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default">
        <input type="checkbox"> {{ tag }}
        <span class="badge">{{ tag.taggit_taggeditem_items.count }}</span>
      </label>
    </div>-->
	{% endfor %}
</ul>
</div>

{% include "includes/pagination.html" %}
{% endblock %}