{% extends "base.html" %}
{% load voting_tags %} 

{% block content %}
<div class="row">
	<div class="col-lg-10">	
	<ul class="nav nav-pills">
	  <li class="active"><a href="#">Questions</a></li>
	  <li><a href="#">Tags</a></li>
	  <li><a href="#">Users</a></li>
	</ul>
	</div>
	<div class="col-lg-2">
		<div class="pull-right">
			<button type="button" class="btn btn-primary">Ask a Question</button>
		</div>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-lg-10">
		<div class="panel-group" id="accordion">		
		{% for question in questions %}
		<div class="row">		
			<div class="col-lg-1">
				<div class="pull-right">	
					<div class="btn-group-vertical">						
						{% score_for_object question as score %}
						{% vote_by_user user on question as vote %}
						<button id="upvote_button_{{ question.id }}" onclick="vote('{{ question.id }}', '{% if vote and vote.is_upvote %}clear{% else %}up{% endif %}');" type="button" class="btn btn-default{% if vote and vote.is_upvote %} active{% endif %}">
						  <span class="glyphicon glyphicon-chevron-up"></span>
						</button>
						<button type="button" class="btn btn-default" disabled="disabled">
							<span id="score_{{ question.id }}">{{ score.score }}</span>
						</button>
						<button id="downvote_button_{{ question.id }}" onclick="vote('{{ question.id }}', '{% if vote and vote.is_downvote %}clear{% else %}down{% endif %}');" type="button" class="btn btn-default{% if vote and vote.is_downvote %} active{% endif %}">
						  <span class="glyphicon glyphicon-chevron-down"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="col-lg-11">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="pull-right">
							{% for tag in question.tags.all %}
							<span class="badge">{{ tag.name }}</span>
							{% endfor %}
						</div>
						<h3 class="panel-title">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
								{{ question.content_markdown|truncatewords:3 }}
					        </a>
						</h3>
					</div>
					<div id="collapse{{ forloop.counter }}" class="panel-collapse collapse{% if forloop.first %} in{% endif %}">
						<div class="panel-body">
							{{ question.content_markup|safe }}
						</div>
						<table class="table">
					        <thead>
					          <tr>
					            <th>#</th>
					            <th>Option</th>
					          </tr>
					        </thead>
					        <tbody>
								{% for choice in question.choice_set.all %}
								<tr>
									<td>{{ forloop.counter }}</td>
									<td>								
										<div class="radio">
										  <label>
										    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" {% if forloop.first %}checked{% endif %}>
											{{ choice.content_markup|safe }}
										  </label>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="panel-footer">
						created by <a href="/users/{{ question.created_by.username }}">{{ question.created_by.username }}</a> {{ question.published_time|timesince }} ago
						| <a href="/share">share</a>
					</div>
				</div>
			</div>
		</div>
		<hr/>
		{% endfor %}
		</div>
	</div>
	<div class="col-lg-2">Sidebar goes here</div>
</div>
{% endblock %}

{% block scripts %}
<script>
function vote(id, direction) {
	$.post('/polls/'+id+'/'+direction+'vote/', {HTTP_X_REQUESTED:'XMLHttpRequest', csrfmiddlewaretoken: '{{csrf_token}}'},
		function(data) {
			if (data.success == true) {
                $('#score_'+id).text(data.score.score);
				if (direction == 'up') {
                    $('#upvote_button_'+id).attr('onclick', 'vote('+id+', "clear");');
                    $('#downvote_button_'+id).attr('onclick', 'vote('+id+', "down");');
                    $('#upvote_button_'+id).button('toggle');
                    $('#downvote_button_'+id).removeClass('active');
                } else if (direction == 'down') {
                    $('#upvote_button_'+id).attr('onclick', 'vote('+id+', "up");');
                    $('#downvote_button_'+id).attr('onclick', 'vote('+id+', "clear");');
                    $('#upvote_button_'+id).removeClass('active');
                    $('#downvote_button_'+id).button('toggle');
                } else {
                    $('#upvote_button_'+id).attr('onclick', 'vote('+id+', "up");');
                    $('#downvote_button_'+id).attr('onclick', 'vote('+id+', "down");');
                    $('#upvote_button_'+id).removeClass('active');
                    $('#downvote_button_'+id).removeClass('active');
                }
			} else {
				alert('ERROR: ' + data.error_message);
			}
		}, 'json'
	);
}
</script>
{% endblock %}