{% extends "base.html" %}

{% block content %}
<!-- Main component for a primary marketing message or call to action -->
<div class="well">
  <h2>Today's Top Poll Questions</h2>
	<table class="table">
        <thead>
          <tr>
	        <th>Title</th>
	        <th>Content (Rendered)</th>
            <th>Content (Markup)</th>
            <th>Content (Markdown)</th>
          </tr>
        </thead>
        <tbody>
		{% for question in questions %}
          <tr>
	        <td>{{ question.title }}</td>
	        <td>{{ question.content_markup|safe }}</td>
            <td>{{ question.content_markup }}</td>
            <td>{{ question.content_markdown }}</td>
          </tr>
		{% endfor %}
        </tbody>
      </table>

	<table class="table">
        <thead>
          <tr>
	        <th>Key</th>
	        <th>Value</th>
          </tr>
        </thead>
        <tbody>
		{% for key, value in env.items %}
          <tr>
	        <td>{{ key }}</td>
	        <td>{{ value }}</td>
          </tr>
		{% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}